#.................................................................................................................
# Run CURRENT_HIGH, G32, and bring bed up to printing temp (110) and nozzle to 150.
# Once bed has reached temp, heat soak for 20 minutes.
# Perform SHAPER_CALIBRATE, and when done, SAVE_CONFIG to save found settings.
 
 
[mcu EBBCan]
  canbus_uuid=ef061c0aa43c

[adxl345]
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30